
@{
    ViewBag.Title = "Countries List";
}

<h2>Countries List</h2>
<ul>
    @*THIS IS NOT THE BEST PRACTICE
    it just shows that it is possible to use
    this kind of coding*@
    @foreach(string strCountry in ViewBag.Countries)
    {
        <li>@strCountry</li>
    }
    @*THIS IS NOT THE BEST PRACTICE
        it just shows that it is possible to use
        this kind of coding*@

    @*@foreach(string strCountry in (List<string>) ViewData["Countries"])
    {
        <li>@strCountry</li>
    }*@


</ul>

