<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AppName" value="shipr"/>
    <add key="ImgServer" value="http://i2.cc-inc.com/shipr/"/>
    <add key="isDev" value="1"/>
    <!-- CRF48287 7/15/2014-->
  </appSettings>
  <connectionStrings>
    <!-- NEW CONNECTION -->
    <add name="Gman" connectionString="server=CSESQL2;database=MIS;uid=GReader;pwd=ugadayka;Min Pool Size=5;Max Pool Size=100" providerName="System.Data.SqlClient"/>
    <add name="Rap" connectionString="server=AFS-SW-SQAPP01.pcmall.com;database=RAP;uid=stgusrprod;pwd=LUc3Hr8mVk;Min Pool Size=5;Max Pool Size=100" providerName="System.Data.SqlClient"/>
    <add name="Cc_product" connectionString="server=AFS-SW-SQWP01.pcmall.com;database=cc_product;uid=stgusrprod;pwd=LUc3Hr8mVk;Min Pool Size=5;Max Pool Size=100" providerName="System.Data.SqlClient"/>
    <!--New Connection END-->


    <!--ORIGINAL-->

    <!--<add name="Gman" connectionString="server=CSESQL2;database=MIS;uid=GReader;pwd=ugadayka;Min Pool Size=5;Max Pool Size=100" providerName="System.Data.SqlClient"/> -->
    <!--<add name="Rap" connectionString="server=storsqldev01;database=RAP;uid=devusrprod;pwd=DevSeqlU$e;Min Pool Size=5;Max Pool Size=100" providerName="System.Data.SqlClient"/> -->
    <!-- FAKE<add name="Rap" connectionString="server=hqjobs1;database=RAP;uid=cc_siteserver;pwd=bolehs;Min Pool Size=5;Max Pool Size=100" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Cc_product" connectionString="server=10.241.3.91;database=cc_product;uid=cc_siteserver;pwd=bolehs;Min Pool Size=5;Max Pool Size=100" providerName="System.Data.SqlClient"/> -->

    <!--ORIGINAL END-->
  </connectionStrings>

  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">

    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RemoveShipR.Project" stopProcessing="true">
          <match url="^ShipR.Project$|^ShipR.Project/(.*)$" />
          <conditions>
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
        <rule name="RewriteToFile">
          <match url="^(?!ShipR.Project/)(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="ShipR.Project/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <httpRedirect enabled="false" destination="http://localhost/Shipr/default.aspx" />
  </system.webServer>

</configuration>

